*   {
    box-sizing: border-box;
}

body, nav, ul, li, div, a, input, button, header, footer, * {
    margin: 0;
    padding: 0;
}

body    {
    font-family: Arial, Helvetica, sans-serif;
    color: #282828;
}

/* ------------HEADER SECTION---------- */

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-color: lightgray;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    container-type: inline-size;
    container-name: header;
}

.header__navbar    {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 90vw;
    height: 10%;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0 30px #0005;
}

.header__title  {
    font-size: 20px;
}

.header__list-container {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.header__list-item  {
    list-style: none;
}

.header__list-item a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #282828;
}

.header__tools  {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.header__img    {
    padding: 7px;
    width: 40px;
    border-radius: 50px;
    opacity: 0.6;
    border: solid 2px #e1e0e0;
    transition: all 0.2s ease;
}

.header__img:hover {
    border-color: #282828;
    background-color: #f0f0f0;
}

.header__navbar-second  {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 90vw;
    height: 10%;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0 30px #0005;
}

.header__search {
    display: flex;
    width: 45%;
    border: solid 2px #e1e0e0;
    border-radius: 50px;
    padding: 5px 5px 5px 15px;
    transition: border-color 0.3s ease;
}

.header__search:focus-within {
    border-color: #333;
}

/* .header__search-img {
    padding: 7px;
    width: 40px;
    opacity: 30%;
    pointer-events: none;
} */

.header__search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    color: #000;
    padding: 5px 0;
}

.header__search-input::placeholder {
    color: #b3b3b3;
    font-weight: 400;
}

.header__search-button   {
    width: 15%;
    border-radius: 25px;
    border: none;
    background-color: rgb(28 28 28);
    color: #dddddd;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.2s;
    margin-left: 5px;
}

.header__search-button:hover    {
    background-color: rgb(28 28 28 / 85%);
    color: #c3c3c3;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.619);
}

.header__background-txt {
    color: #fff;
    position: absolute;
    top: 39%;
    font-size: 25rem;
    cursor: default;
}

/* ------------HEADER QUERIES---------- */

@container header (width: 900px) {
    .header {
        background-color: red;
    }
}

/* ------------HEADER END---------- */

/* ------------SHOP SECTION---------- */

.shop   {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
}

.shop__box  {
    display: flex;
    width: 90%;
    gap: 30px;
    margin: 0 auto;
    margin-top: 2%;
    align-items: flex-start; /* Evita que el menú se estire verticalmente hacia abajo */
}

.shop__tree-menu {
    border-radius: 12px;
    position: sticky;
    top: 5%; 
    width: max-content; 
    min-width: 200px; 
    max-width: 280px; 
    flex-shrink: 0;
}

.shop__tree-menu-title {
    font-size: 1.4rem;
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-weight: bold; 
}

.shop__details {
    margin-bottom: 15px; 
}

.shop__summary {
    list-style: none;
    padding: 10px 15px; 
    background: transparent; 
    border-radius: 20px; 
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    transition: background 0.2s;
    user-select: none;
}

.shop__summary--active {
    background-color: #f5f5f5;
}

.shop__summary:hover {
    background-color: #f0f0f0;
}

.shop__summary::-webkit-details-marker {
    display: none;
}

.shop__summary-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.shop__tree-menu-category-img {
    width: 23px; 
    height: 23px;
    opacity: 0.6; 
}

.shop__sub-menu {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 20px;
    position: relative;
}

/* Línea vertical gris que conecta los items como en un árbol real */
.shop__sub-menu::before {
    content: '';
    position: absolute;
    left: 28px;
    top: -4px;
    bottom: 17px;
    width: 1px;
    background-color: #cfcece;
    z-index: 2;
}

.shop__tree-menu-category-item {
    padding: 8px 12px 8px 25px;
    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 2px;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    position: relative;
}

/* Líneas horizontales pequeñas que salen de la línea principal */
.shop__tree-menu-category-item::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    width: 10px;
    height: 1px;
    background-color: #cfcece;
}

.shop__tree-menu-category-item a {
    text-decoration: none;
    color: #666;
    font-size: 0.95rem;
}

.shop__tree-menu-category-item:hover {
    background-color: #f5f5f5;
}

.shop__tree-menu-category-item:hover a {
    color: #000;
}

.shop__category-item-img {
    width: 20px;
    margin-right: 12px;
    opacity: 0.5;
}

.shop__right-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 40px; 
}

.shop__product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.shop__product-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: transparent;
}

.product__image-box {
    background-color: #f3f4f6;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1; /* Hace que la caja sea un cuadrado perfecto siempre */
    padding: 30px;
}

.product__badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #ffffff;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #555;
    box-shadow: 0 2px 5px rgba(0,0,0,0.04);
}

.product__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Evita que se deforme */
    mix-blend-mode: multiply; /* fondo blanco, esto lo funde con el gris */
}

.product__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 5px;
}

.product__title {
    font-size: 1.15rem;
    font-weight: 700;
    color: #1a1a1a;
    margin: 0;
}

.product__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__rating {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.85rem;
    font-weight: 700;
    color: #333;
}

/* (Reviews) */
.rating-count {
    color: #999;
    font-weight: 500;
}

.star-icon {
    width: 16px;
    height: 16px;
}

.product__price {
    font-size: 1.15rem;
    font-weight: 800;
    color: #1a1a1a;
}

.product__actions {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.btn {
    flex: 1;
    padding: 10px 0;
    border-radius: 25px;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
}

/* Botón "Add to Chart" */
.btn--outline {
    background-color: #fff;
    border: 2px solid #ddd;
    color: #282828;
}

.btn--outline:hover {
    border-color: #1a1a1a;
}

/* Botón "Buy Now" */
.btn--solid {
    background-color: #1a1a1a;
    color: #fff;
    border: 1.5px solid #1a1a1a;
}

.btn--solid:hover {
    background-color: #333;
}

.shop__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px 10px 0 10px; 
}

.pagination__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    font-size: 0.95rem;
    transition: opacity 0.2s;
}

.pagination__btn:hover {
    opacity: 0.6;
}

.arrow-icon {
    width: 15px;
    height: 15px;
    opacity: 0.8;
}

.right-arrow {
    transform: rotate(180deg);
}

.pagination__numbers {
    display: flex;
    gap: 15px;
    align-items: center;
}

.page-num {
    text-decoration: none;
    color: #999;
    font-weight: 600;
    font-size: 0.95rem;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s;
}

.page-num:hover {
    color: #1a1a1a;
    background-color: #f9f9f9;
}

.page-num.active {
    background-color: #f3f4f6;
    color: #1a1a1a;
}

.page-dots {
    color: #999;
    font-weight: 600;
    letter-spacing: 2px;
}


/* ------------SHOP QUERIES---------- */

@media (max-width: 1200px) {
    .shop__product-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}




/* ------------SHOP END---------- */